.card {
    width: 270px;
    height: 370px;
    text-align: center;
    margin: 20px 20px;
    padding: 10px;
    background: #ecf0f3;
    border-radius: 10px;
    box-shadow: 8px 8px 8px #d1cbcb, -8px -8px 8px #ffffff;
    transition-duration: 0.5s;
}

img {
    height: 140px;
    margin: 15px;
    filter: saturate(1.2) brightness(1.1);
    transition-duration: 0.5s;
}

.card:hover {
    /* background: #fbfcfd; */
    transform: scale(1.03);
    transition-duration: 0.2s;
}

.card:hover img {
    transform: scale(1.4);
    transition-duration: 0.5s;
}

.card p:nth-child(1),
.card p:nth-child(2) {
    text-transform: uppercase;
}

.card p:nth-child(2) {
    font-size: 0.7rem;
}

.card p:nth-child(4),
.card p:nth-child(5) {
    text-transform: capitalize;
    font-weight: 800;
}

.card p:nth-child(6) {
    text-decoration-line: line-through;
    color: #666666;
}

.card p:nth-child(6),
.card p:nth-child(7) {
    display: inline-block;
}

p {
    /* z-index: 500; */
    /* transform: scaleZ(4); */
    margin: 5px;
    letter-spacing: 2px;
}


/* 



button
*/

.btn-shop {
    cursor: pointer;
    margin: 8px;
    padding: 10px;
    width: 80%;
    color: #fff;
    background: #000;
}

.btn-shop:hover {
    color: #000;
    background: #fff;
}

.btn-shop:active {
    background: #c2c2c2;
}