.modal {
    position: fixed;
    width: 70vh;
    height: 70vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ecf0f3;
    border-radius: 10px;
    /* box-shadow: 8px 8px 8px #d1cbcb, -8px -8px 8px #ffffff; */
    box-shadow: 0px 0px 10px #bbb;
    z-index: 10;
}


/* .modal button::before {
    content: 'cerrar';
    position: absolute;
    top: 10px;
    font-size: 0.7rem;
} */

.modal button {
    z-index: 20;
    cursor: pointer;
    position: absolute;
    /* top: 2%;
    right: 2%; */
    top: 10px;
    right: 10px;
    background: #ecf0f3;
    height: 50px;
    width: 50px;
    transform: rotate(180deg);
    border: none;
    outline: none;
    font-size: 2rem;
}

.imgModal {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 0;
    transform: translate(10%, -50%);
}

.bkModal {
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff70;
    z-index: 9;
    width: 100%;
    height: 100%;
}

@media (orientation: portrait) {
    .modal {
        width: 90vw;
        height: 90vw;
        background: #ecf0f3;
        border-radius: 10px;
        /* box-shadow: 4px 4px 4px #d1cbcb, -4px -4px 4px #ffffff; */
        box-shadow: 0px 0px 10px #bbb;
    }
}