.nav {
    position: sticky;
    top: 0px;
    background: #fff;
    box-shadow: inset 0px -2px 10px #d1cbcb;
    z-index: 99;
}

.nav .link {
    display: inline-block;
    position: absolute;
    right: 0;
    margin: 5px 0px 0px 0px;
}

.nav-text,
#account,
#shop {
    user-select: none;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    letter-spacing: 2px;
    color: #000;
    text-decoration: none;
}

.nav h1 {
    user-select: none;
    display: inline-block;
    padding: 10px;
    margin: auto 20px;
    color: #000;
    text-decoration: none;
}

.nav .link button {
    display: none;
}

@media (max-width: 700px) {
    .nav h1 {
        display: block;
        text-align: center;
        font-size: 1.8rem;
    }
    .nav-text {
        display: none;
    }
    #account {
        transform: translateY(-50px);
        padding: 4px 0;
    }
    #shop {
        transform: translateY(-50px);
        padding: 4px 0;
        margin-right: 10px;
    }
    .nav .link button:nth-child(1) {
        cursor: pointer;
        display: inline-block;
        position: fixed;
        background: rgba(255, 255, 255, 0);
        top: 5px;
        width: 40px;
        height: 40px;
        left: 10px;
        z-index: 100;
        border: none;
        outline: none;
    }
    /* .nav .link button:nth-child(2) {
        cursor: pointer;
        display: inline-block;
        position: fixed;
        background: #fff;
        color: #000;
        font-size: 1.5rem;
        width: 40px;
        height: 40px;
        top: 6px;
        right: 10px;
        z-index: 100;
        border: none;
        outline: none;
    } */
    .div {
        font-size: 1rem;
    }
}