@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", cursive, sans-serif;
}

.items-cards {
    /* z-index: 999; */
    background: #ecf0f3;
    padding: 20px 20px 20px 20px;
    /* transform: translateY(50px); */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.nav {
    position: sticky;
    top: 0px;
    background: #fff;
    box-shadow: inset 0px -2px 10px #d1cbcb;
    z-index: 99;
}

.nav .link {
    display: inline-block;
    position: absolute;
    right: 0;
    margin: 5px 0px 0px 0px;
}

.nav .link a {
    user-select: none;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    letter-spacing: 2px;
    color: #000;
    text-decoration: none;
}

.nav h1 {
    user-select: none;
    display: inline-block;
    padding: 10px;
    margin: auto 20px;
    color: #000;
    text-decoration: none;
}

.nav .link button {
    display: none;
}

.div {
    display: block;
    text-align: center;
    padding: 75px 15px 15px 15px;
    /* margin-top: 80px; */
    font-size: 1.5rem;
}

.title {
    height: 50vh;
    background: url("./bk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -30px;
}

@media (max-width: 700px) {
    .nav h1 {
        display: block;
        text-align: center;
    }
    .nav .link a {
        display: none;
    }
    .nav .link button:nth-child(1) {
        cursor: pointer;
        display: inline-block;
        position: fixed;
        background: #fff;
        width: 40px;
        height: 40px;
        top: 6px;
        left: 10px;
        z-index: 100;
        /* border: 3px solid #ecf0f3; */
        border: none;
        outline: none;
    }
    /* .nav .link button:nth-child(2) {
        cursor: pointer;
        display: inline-block;
        position: fixed;
        background: #fff;
        color: #000;
        font-size: 1.5rem;
        width: 40px;
        height: 40px;
        top: 6px;
        right: 10px;
        z-index: 100;
        border: none;
        outline: none;
    } */
    .div {
        font-size: 1rem;
    }
}