@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", cursive, sans-serif;
}

.items-cards {
    background: #ecf0f3;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}


/* modal */

.modal {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
    display: flex;
    margin: auto;
    height: 400px;
    width: 400px;
    background-color: red;
}