@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", cursive, sans-serif;
}

.items-cards {
    /* z-index: 999; */
    background: #ecf0f3;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.nav {
    background: #fff;
    box-shadow: inset 0px -2px 10px #d1cbcb;
}

.nav .link {
    display: inline-block;
    position: absolute;
    right: 0;
    margin: 5px 0px 0px 0px;
}

.nav .link p {
    user-select: none;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    letter-spacing: 2px;
    color: #000;
    text-decoration: none;
}

.nav h1 {
    user-select: none;
    display: inline-block;
    padding: 10px;
    margin: auto 20px;
    color: #000;
    text-decoration: none;
}

.nav .link button {
    display: none;
}

@media (max-width: 700px) {
    .nav .link p {
        display: none;
    }
    .nav .link button {
        cursor: pointer;
        display: inline-block;
        background: #fff;
        padding: 10px;
        margin: 0 15px;
        border: 3px solid #ecf0f3;
        outline: none;
    }
}